/*  basic styling   */
* {
    font-family: Helvetica, Arial, sans-serif;
  }

/* container styles */
.container {
    max-width: 90rem;
    margin: 1rem auto;
    background: #fff;
}  

/* header styles */
.header {
    background: #ccc;
}

.site-title {
    color: #fff;
    font-size: 35px;
}
.site-brand {
    padding: 1rem;
}

p, 
li {
    font-size: 18px;
}
  
a {
    text-decoration: none;
}

/* menu styles */
nav{
    font-family: monospace;
}

/* remove bullets and padding from all navbar lists */
.navbar {
    overflow: hidden;
    background: #152283;
    list-style: none;
    margin: 0;
    padding-left: 0;
}
  
.navbar li {
    color: #ccc;
    background: #152283;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}

/* link properties for ALL links in the navbar */
.navbar li a {
    color: #ccc;
}

/* hover properties for top level */
.navbar li:hover {
    background: #ccc;
    cursor: pointer;
}

/* dropdown */  
.dropnavbar {
    background: #152283;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    /*margin-top: 1rem;*/
    left: 0;
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

/* show the sub navbar when hover the navbar */
.navbar li:hover .dropnavbar {
    display: block;
    opacity: 1;
}

/* behaviour for sub navbar */
.dropnavbar li {
    clear: both;
    width: 100%;
}

/* hover behaviour for links in sub navbar */
.dropnavbar li:hover{
    background-color: #666;
}

/* footer styles */
.footer {
    background: #152283;
    padding: 1rem;
}

.footer p {
    font-size: 20px;
    color: #ccc;
}