<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{{site.url}}/css/styles.css" type="text/css" rel="stylesheet">
    <title>{{ page.title }}</title>
  </head>
  <body>
    <div class="container">
      <!-- header -->
      <header class="header">
        <div class="site-brand">
          <a href="{{site.url}}/index.html"><img src="{{site.url}}/images/common/wigglememore3d_logo.png" alt="Logo"></a>
          <h1>wigglememore3d</h1>
        </div>
        <!-- nav bar -->
        {% include nav_bar.html %} 
      </header>

      <!-- page content -->
      {{ content }}

      <!-- footer -->
      {% include footer.html %} 

    </div>
  </body>
</html>